# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
pip-selfcheck.json

# Environment variables and secrets
*.env

# Flask/Django specific files
instance/
settings_local.py
*.log

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.noseids
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# mypy / pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
pylint-report.txt

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter notebooks
.ipynb_checkpoints

# Logs and local dev files
*.log
*.sqlite3

# macOS, Linux, Windows OS files
.DS_Store
Thumbs.db
